# Python virtual environments
.venv/
.venv310/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
# Virtual env
.venv/
.venv310/

# Python cache
__pycache__/
*.pyc

# audio output
*.mp3
*.wav

# installers
*.exe

# models
models/

# vscode
.vscode/

models/
*.exe