# Python virtual environments
.venv/
.venv310/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Audio output
*.mp3
*.wav

# Installers
*.exe

# Large AI models
models/